PROXMOX_ENDPOINT="https://PVE_HOST:8006"
PROXMOX_TOKEN_ID="user@pam!tokenname"
PROXMOX_TOKEN_SECRET="secret"
PROXMOX_VERIFY_SSL="false"

PBS_ENDPOINT="https://PBS_HOST:8007"
PBS_TOKEN_ID="user@pbs!tokenname"
PBS_TOKEN_SECRET="secret"
PBS_VERIFY_SSL="false"
