OPENAI_API_KEY="sk-..."
OPENAI_WORKFLOW_ID="wf_..."
GRAPH_TENANT_ID="..."
GRAPH_CLIENT_ID="..."
GRAPH_CLIENT_SECRET="..."
POWERBI_ENABLED="false"
POWERBI_TENANT_ID="..."
POWERBI_CLIENT_ID="..."
POWERBI_CLIENT_SECRET="..."
POWERBI_XMLA_ENABLED="false"
POWERBI_XMLA_MODE="readonly"
POWERBI_XMLA_SERVER_PREFIX="powerbi://api.powerbi.com/v1.0/myorg"
POWERBI_CATALOG_CACHE_ENABLED="true"
POWERBI_CATALOG_CACHE_TTL_SECONDS="3600"
